body {
  font-family: "Inter", sans-serif;
  color: black;
  background-color: whitesmoke;
  width: 90vw;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  transition: 1s;
}
h1 {
  text-align: center;
  color: #000000;
}
#board {
  margin-left: auto;
  margin-right: auto;
  max-width: 90vw;
  width: 375px;
  height: 375px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  align-content: center;
  justify-content: center;
  position: relative;
}
.flip-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.square{
  width: 120px;
  height: 120px;
  border: 1px solid #d3d3d3;
  background: rgba(0,0,0,0.10);
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
  font-family: "Audiowide";
  font-weight: 400;
  font-style: normal;
  border-radius: 10%;
  transition: transform .8s;
}

.square:hover{
  background-color: rgba(0,0,0,0.3);
}

.restart-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 40px;
  font-size: 18px;
  transition: .3s;
}

.restart-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.moon-icon {
  display: none;
}

.sun-icon {
  display: inline;
}
